body {
    background-image: url("./img/bg.jpg"); /* The image used */
    background-position: center; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    height: 100%;
}

.round {
    border-radius: 10%;
}